{% macro gridItemBuilder(
        item_classes = ''
    )
-%}
    <div class="{{ item_classes }}" style="margin-bottom:20px">
        <a>
            <img class="img-responsive center-block border-thin shadow"/>
        </a>
    </div>
{% endmacro %}
