<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/basic.css') }}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        
        {% block stylesheets %}{% endblock %}
        
        <script>$SCRIPT_ROOT = {{request.script_root|tojson|safe}};</script>
        <script src="//player.twitch.tv/js/jquery.4a54b4c0.js"></script>
        <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>        
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/nav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/twitch/init.js') }}"></script>
        {% block headerScripts %}{% endblock %}
    </head>
    
    <body> 
        
        {% block nav %}
            {% include "nav.html" %}
        {% endblock %}
    
        {% block app %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
 
        {% block footerScripts %}
        {% endblock %}
    </body>
    
    
</html>
