<!DOCTYPE html>

<html>
	<head>
		<title>Channel - {{ channel }}</title>
		<link rel="stylesheet" href="//player.twitch.tv/css/player.332a9511.css"/>
		<link rel="stylesheet" href=" {{ url_for('static', filename='styles/player.css') }} "/>
		<script type="text/javascript">var Twitch=Twitch||{};Twitch.notScript=!0;</script>
		<style type="text/css">:root .advertisement, :root .a300, :root #js-esl300, :root #ad {display:none !important;}</style>
		<script src="//player.twitch.tv/js/jquery.4a54b4c0.js"></script>
		<script src="//player.twitch.tv/js/jquery-ui.337218f2.js"></script>
		<script src="//player.twitch.tv/js/chromecast.f895d9e6.js"></script>
		<script src="//player.twitch.tv/js/player.e3985a71.js"></script>
		<style type="text/css" media="screen">#swfobject-0 {visibility:hidden}</style>
	</head>

	<body style="margin: 0">
		<div class="player" id="video-playback">
			
		</div>
		
		<div class="custom-controls">
			{% include 'info_button.html' %}
		</div>
		
		<script type="text/javascript">
			var params={"channel": "{{ channel }}"};
			var player=new Twitch.video.Player("video-playback",params);
		</script>
	</body>
</html>