{% extends "base.html" %}

{% block title %} Channel - {{ channel }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//player.twitch.tv/css/player.332a9511.css"/>
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles/player.css') }} "/>
{% endblock %}

{% block headerScripts %}
    <script src="//player.twitch.tv/js/jquery-ui.337218f2.js"></script>
    <script src="//player.twitch.tv/js/player.e3985a71.js"></script>
{% endblock %}


{% block nav %}
{% endblock %}

{% block app %}
    <div class="player" id="video-playback">
    </div>
    
    <div class="custom-controls">
        {# include 'info_button.html' #}
    </div>
{% endblock %}

{% block footerScripts %}
    <script>
        Twitch.api({method: "streams/{{ channel }}"}, function(error, stream){ 
            var params={"channel": "{{ channel }}"};
            var player=new Twitch.video.Player("video-playback",params);
        });

    </script>
{% endblock %}
