{% extends "base.html" %}

{% block title %} Games {% endblock %}

{% block stylesheets %}
{% endblock %}        

{% block app %}
    <div id="grid-container" class="container-fluid" style="margin-top:20px;">
    </div>
{% endblock %}

{% block footerScripts %}
    <script>
        var grid_container = $("#grid-container");
        Twitch.api({method: "games/top", params: {limit: 50}}, function(error, games){ 
            var game_list = games["top"];
            $.each(game_list, function(index, game_container){
                var game = game_container.game;
                var game_grid_item = $(`{% include '_game-grid-item.html' %}`);
                game_grid_item.find("a").attr("href", "/games/" + game.name);
                game_grid_item.find("img").attr("src", game.box.large);

                grid_container.append(game_grid_item);
            });
        });
    </script>
{% endblock %}
