{% extends "base.html" %}        

{% block title %}Game - {{ game_name }}{% endblock %}

{% block app %}
    <div id="grid-container" class="container-fluid" style="margin-top:20px;">
    </div>
{% endblock %}


{% block footerScripts %} 
    <script>
        var grid_container = $("#grid-container");
        Twitch.api({method: "streams", params: {game: "{{game_name}}", stream_type: "live"}}, function(error, streams){ 
            var stream_list = streams["streams"];
            $.each(stream_list, function(index, stream){
                var channel_grid_item = $(`{% include '_channel-grid-item.html' %}`);
                channel_grid_item.find("a").attr("href", "/channel/" + stream.channel.name);
                channel_grid_item.find("img").attr("src", stream.preview.large);

                grid_container.append(channel_grid_item);
            });
        });
    </script>
{% endblock %}
