<div class="custom-control-container">
    <div id="info-icon" class="custom-control-icon">
        <img style="fill:white" src="{{ url_for('static', filename='images/info.svg') }}">
    </div>
    
    <div id="channel-info-popup" class="custom-control-popup">
        <p class="custom-control-popup-header">Channel Info</p>
        <p class="custom-control-popup-section">{{ title }}</p>
        <p class="custom-control-popup-section">Broadcasting {{ game }}</p>
        <p class="custom-control-popup-section">{{ viewer_count }} viewers</p>
    </div>
</div>
