{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block headerScripts %}
    <script src="{{ url_for('static', filename="js/twitch/login.js") }}"></script>
{% endblock %}

{% block app %}
    <div class="page-height">
        <form class="full-height" action="/" method="post">
            <div class="container col-xs-12 col-md-8 col-lg-6">
                <a class="full-width button text-large twitch-connect">Login with Twitch</a>
            </div>
        </form>
    </div>
{% endblock %}
