<div id="nav-container" class="hover hug-top full-height"> 
    <div id="nav" class="shadow full-height left background-secondary" style="width:50px;float:left;">
        <div>
            {% set nav_items = [
                    {'url': ('/following/'+session['username'] if 'username' in session else '/'), 'icon': 'glyphicon-heart'},
                    {'url': '/games', 'icon': 'glyphicon-plus'},
                    {'url': '/?override_redirect=true', 'icon': 'glyphicon-user'}
                ]
            %}

            {% if 'username' in session %}
            {% endif %}
            
            {% for item in nav_items %}
                <div class="nav-item-container">
                    <a class="block" href="{{item.url}}">
                        <span class="nav-item block full-height glyphicon {{item.icon}} text-center" aria-hidden="true"></span>
                    </a>
                </div> 
            {% endfor %}
        </div>
    </div>
    
    <!-- Handle -->
    <div id="nav-handle" class="handle-vertical right" style="position:relative;top:50%;margin-top:-20px"></div>
</div>
