<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/basic.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/blocks.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/bootstrap/bootstrap.min.css') }}">
    </head>
    <body class="primary">
        <div class="container" style="margin-top:20px;">
            <script>
                for (i = 0; i < 3; i++){
                    document.write(
                                '<div class="col-md-4" style="height:300px;">'  +
                                    '<div class="border-thin" style="width:100%;height:100%"></div>'   +
                                '</div>'
                            );
                }
            </script>
        </div>
    </body>
</html>
