@import 'constants';

@mixin border($width, $color: $accent-color){
    border: $width solid $color;
}

.border{
    @include border(3px);
}

.border-thin{
    @include border(1px);
}

.border-thin:hover{
    @include border(1px, $super-accent-color)
}

.border-thick{
    @include border(5px);
}
