@import 'constants';

.background-primary{
    background-color: $primary-color;
}

.background-secondary{
    background-color: $secondary-color;
}

.text-accent{
    color: $accent-color;
}

.text-super-accent{
    color: $super-accent-color;
}
