$primary-color: #7F7F7F;
$secondary-color: #141414;

$accent-color: #23163F;
$dark-accent-color: #101010;
$super-accent-color: #716341;

$error-color: #FFFFFF;

$font-stack: Arial, sans-serif;

$text-color-dark: #b7b7b7;
$text-color-light: #ccc;
