@import 'constants';

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    display: block;
    margin-bottom: 20px;
    border: 1px solid $primary-color;
}

.input:focus{
    outline: 0;
    border: 1px solid $super-accent-color;
}

.button{
    @extend .input;

    cursor: pointer;

    background: $secondary-color; 
    color: $text-color-light;
    
    text-align: center;

    height: 70px;
    line-height: 70px;
}

.button:hover{
    background: $dark-accent-color;
    color: $text-color-light;
    text-decoration: none;
}

.text-field{
    @extend .input;
    background: $secondary-color;

    padding-left: 10px;

    color: $text-color-light;

    height: 70px;
    line-height:70px;
}

.handle-base{
    background-color: $accent-color;
    cursor: pointer;
    opacity: 0;
}

.handle-base.active-handle{
    @extend .handle-base;

    opacity: 1.0;
}

.handle-vertical{
    @extend .handle-base;
    height: 40px; 
    width: 10px;
}
