@import 'constants';

.nav-item-container{
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.nav-item-container a{
    text-decoration: none;
}

.nav-item{
    color: $accent-color;

    font-size: 25px;
    text-shadow: 0 1px 1px black;
    line-height: 50px;
}

.nav-item:hover{
    color: $super-accent-color;
}
