.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.hover{
    position: fixed;
    z-index: 99;
}

.left{
    float: left;
}

.right{
    float: right;
}

.on-top{
    z-index: 100;
}

.hug-top{
    top: 0;
}

.hug-bottom{
    bottom: 0;
}

.hug-left{
    left: 0;
}

.hug-right{
    right: 0;
}
