@import 'constants';

@mixin shadow($blur, $color: black){
    -webkit-box-shadow: 0 0 $blur 0 $color;
    box-shadow: 0 0 $blur 0 $color;
}

.shadow{
    @include shadow(3px);
}

.shadow-thin{
    @include shadow(1px);
}

.shadow-thick{
    @include shadow(5px);
}

.shadow-thicker{
    @include shadow(10px);
}
