@mixin text-size($size){
    font-size: $size;
}

.text-small{
   @include text-size(16px);
}

.text-normal{
    @include text-size(20px);
}

.text-large{
    @include text-size(24px);
}

.text-center{
    text-align: center; 
}

.text-light{
    color: $text-color-light !important;
}

.text-dark{
    color: $text-color-dark !important;
}
