.border {
  border: 3px solid #23163F; }

.border-thin {
  border: 1px solid #23163F; }

.border-thin:hover {
  border: 1px solid #716341; }

.border-thick {
  border: 5px solid #23163F; }

.background-primary {
  background-color: #7F7F7F; }

.background-secondary {
  background-color: #141414; }

.text-accent {
  color: #23163F; }

.text-super-accent {
  color: #716341; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.input, .button, .text-field {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #7F7F7F; }

.input:focus, .button:focus, .text-field:focus {
  outline: 0;
  border: 1px solid #716341; }

.button {
  cursor: pointer;
  background: #141414;
  color: #ccc;
  text-align: center;
  height: 70px;
  line-height: 70px; }

.button:hover {
  background: #101010;
  color: #ccc;
  text-decoration: none; }

.text-field {
  background: #141414;
  padding-left: 10px;
  color: #ccc;
  height: 70px;
  line-height: 70px; }

.handle-base, .handle-base.active-handle, .handle-vertical {
  background-color: #23163F;
  cursor: pointer;
  opacity: 0; }

.handle-base.active-handle, .active-handle.handle-vertical {
  opacity: 1.0; }

.handle-vertical {
  height: 40px;
  width: 10px; }

.block {
  display: block !important; }

.inline {
  display: inline !important; }

.inline-block {
  display: inline-block !important; }

.nav-item-container {
  width: 50px;
  height: 50px;
  line-height: 50px; }

.nav-item-container a {
  text-decoration: none; }

.nav-item {
  color: #23163F;
  font-size: 25px;
  text-shadow: 0 1px 1px black;
  line-height: 50px; }

.nav-item:hover {
  color: #716341; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.hover {
  position: fixed;
  z-index: 99; }

.left {
  float: left; }

.right {
  float: right; }

.on-top {
  z-index: 100; }

.hug-top {
  top: 0; }

.hug-bottom {
  bottom: 0; }

.hug-left {
  left: 0; }

.hug-right {
  right: 0; }

.shadow {
  -webkit-box-shadow: 0 0 3px 0 black;
  box-shadow: 0 0 3px 0 black; }

.shadow-thin {
  -webkit-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black; }

.shadow-thick {
  -webkit-box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 black; }

.shadow-thicker {
  -webkit-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black; }

.page-height {
  height: 100vh; }

.page-width {
  width: 100vw; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.text-small {
  font-size: 16px; }

.text-normal {
  font-size: 20px; }

.text-large {
  font-size: 24px; }

.text-center {
  text-align: center; }

.text-light {
  color: #ccc !important; }

.text-dark {
  color: #b7b7b7 !important; }

.trigger {
  height: 120px;
  width: 40px; }

body {
  background-color: #141414; }

/*# sourceMappingURL=basic.css.map */
