.border {
  border: 3px solid #23163F; }

.border-thin {
  border: 1px solid #23163F; }

.border-thin:hover {
  border: 1px solid #716341; }

.border-thick {
  border: 5px solid #23163F; }

/*# sourceMappingURL=borders.css.map */
