.background-primary {
  background-color: #7F7F7F; }

.background-secondary {
  background-color: #141414; }

.text-accent {
  color: #23163F; }

.text-super-accent {
  color: #716341; }

/*# sourceMappingURL=coloring.css.map */
