form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.input, .button, .text-field {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #7F7F7F; }

.input:focus, .button:focus, .text-field:focus {
  outline: 0;
  border: 1px solid #716341; }

.button {
  cursor: pointer;
  background: #141414;
  color: #ccc;
  text-align: center;
  height: 70px;
  line-height: 70px; }

.button:hover {
  background: #101010;
  color: #ccc;
  text-decoration: none; }

.text-field {
  background: #141414;
  padding-left: 10px;
  color: #ccc;
  height: 70px;
  line-height: 70px; }

.handle-base, .handle-base.active-handle, .handle-vertical {
  background-color: #23163F;
  cursor: pointer;
  opacity: 0; }

.handle-base.active-handle, .active-handle.handle-vertical {
  opacity: 1.0; }

.handle-vertical {
  height: 40px;
  width: 10px; }

/*# sourceMappingURL=controls.css.map */
