body{
	overflow: hidden;
}

.player-button--twitch, .player-controls-top, .player-livestatus{
	display: none!important;
}

.player-buttons-right{
	padding-right: 10px!important;
}

.custom-controls{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 10px;
	margin-right: 10px;
	
	display: none;
}

.player:hover + .custom-controls, .custom-controls:hover{
	display: inline-block;
}

.custom-control-icon, .custom-control-icon img{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.custom-control-popup{
	position: absolute;
	
	width: 300px;
	
	top: 30px;
	right: 0;
	
	background: rgb(20,20,20);
	color: rgb(250,250,250);
	box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	
	
	display: none;
}

.custom-control-popup p{
	font-family: Arial;
	font-size: 14px;
}

.custom-control-popup-header{
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	
	text-align: center;
	background: rgb(40,40,40);
	font-size: 16px;
}

.custom-control-popup-section{
	margin-left: 10px;
	font-size: 14px;
}

#info-icon:hover + #channel-info-popup{
	display: block;
}