.shadow {
  -webkit-box-shadow: 0 0 3px 0 black;
  box-shadow: 0 0 3px 0 black; }

.shadow-thin {
  -webkit-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black; }

.shadow-thick {
  -webkit-box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 black; }

.shadow-thicker {
  -webkit-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black; }

/*# sourceMappingURL=shadows.css.map */
